<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/mystyle.css">
</head>

<body style="padding-top: 70px">
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">User story manager - Add new story</a>
                <a class="navbar-brand" href="/list">Home</a>
            </div>

        </div>
    </nav>

    <br action="/story/{{user_story.id}}" method="post">

    <h4>Story title</h4>
    <div class="input-group">
        <input type="text" name='story_title' class="form-control" placeholder="Title"
               aria-describedby="basic-addon1" required value={{user_story.story_title}}>
    </div>

    <h4>User story</h4>
    <div class="input-group">
        <input type="text" name='user_story' class="form-control"
               placeholder="User Story" required value={{user_story.user_story}}>
    </div>

    <h4>Acceptance criteria</h4>
    <div class="input-group">
        <input type="text" name='acceptance_criteria' class="form-control"
               placeholder="Acceptance criteria" required value={{user_story.acceptance_criteria}}>
    </div>

    <h4>Business value</h4>
    <div class="input-group">
        <input name='business_value' type="number" class="form-control" value={{user_story.business_value}}
               min="100" max="1500" step="10"/>
    </div>

    <h4>Estimation (h)</h4>
    <div class="input-group">
        <input name='estimation' type="number" class="form-control" value={{user_story.estimation}} min="0.5"
               max="40" step="0.5"/>
    </div>
    <br>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Status
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li value={{user_story.status}}>{{user_story.status}}</li>
            <li value="planning">Planning</li>
            <li value="to do">To do</li>
            <li value="review">Review</li>
            <li value="done">Done</li>
        </ul>
    </div>
    </br>
    <div>
        <button class="btn btn-default btn-sm" type='submit'>Save</button>
    </div>

    </form>
</div>

</body>
</html>




